# dependencies installed by npm
node_modules/

# build artifacts
build/
dist/
.cache
.parcel-cache

# secrets and errors
.env
.log
errors.*
report.*

# macOS related files
.DS_Store
.AppleDouble
.LSOverride
